.wrapper {
  padding: 10px;
  .row {
    text-align: left;
    word-wrap: break-word;
  }
}

.wrapper2 {
  padding: 30px;
}

.new {
  text-align: left;
}

input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}
