<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">

  <h3>ウクレレ</h3>

  <% @ukuleles.each do |ukulele| %>

    <div class="container-child col-md-2 col-sm-4 col-xs-6 ">

      <p><%= link_to ukulele_path(ukulele) do %><%= pict_img(ukulele) if pict_img(ukulele) %><% end %></p>

    </div>

  <% end %>
</div>
