<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">

  <h3>ウクレレ</h3>

  <div class="new col-md-12"><span class="label label-danger">NEW</span></div>

  <% @ukuleles.each do |ukulele| %>

    <div class="wrapper col-md-1 col-sm-2 col-xs-4">

      <%= link_to ukulele_path(ukulele) do %><%= pict_img(ukulele) if pict_img(ukulele) %><% end %>

    </div>

  <% end %>
</div>
